{% load static %}
<footer class="container mx-auto text-left py-10 border-t-2 font-medium flex">
    <div class="pr-24 border-r-2">
        <p class="font-bold mb-5 text-2xl">고객센터</p>
        <p class="font-bold text-3xl mb-10">02-747-8150</p>
        <p>월~토 오전 10:00 ~ 오후 06:30</p>
        <p class="mb-5">일요일 오전 10:00 ~ 오후 05:30</p>
    </div>
    <div class="pl-24 flex">
        <div class="mr-10">
            <p class="font-bold mb-5 text-2xl">주소</p>
            <p>서울 종로구 종로3가 28 코리아주얼랜드 107호</p>
            <img src="{% static 'img/address.jpg' %}" alt="address" class="w-96 mt-10">
        </div>
        <div id="daumRoughmapContainer1639234998052" class="root_daum_roughmap root_daum_roughmap_landing"></div>
    </div>
</footer>