{% extends "base.html" %}


{% block page_name %}
    팔찌
{% endblock page_name %}

{% block content %}

    <div class="container mx-auto pb-10">

        <div class="flex flex-wrap -mx-10 mb-10">
            {% for bracelet in object_list  %}
                {% include 'mixins/product_card.html' with product=bracelet %}
            {% endfor %}
        </div>

        <div class="flex items-center justify-center mx-auto container">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            {% endif %}

            <span class="mx-3 font-medium text-lg">{{page_obj.number}} / {{page_obj.paginator.num_pages}}</span>

            {% if page_obj.has_next  %}
                <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
