{% extends "base.html" %}


{% block page_name %}
    공지사항
{% endblock page_name %}


{% block content %}
<div class="w-3/5 mx-auto my-10 flex flex-col items-center justify-bewteen border p-6 border-gray-400 min-h-75vh">
    <p class="text-3xl font-bold mb-5">공지사항</p>
    <div class="container mx-auto pb-10 flex flex-col">
        <hr>
        {% for post in postlist %}
            <div class="flex justify-between items-center mx-20 my-3">
                <a href="{% url 'notices:detail' post.pk %}" class="text-2xl">{{post.title}}</a>
                <p class="text-sm">{{post.created}}</p>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div class="flex items-center justify-center mx-auto container">
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                <i class="fas fa-arrow-left fa-lg"></i>
            </a>
        {% endif %}

        <span class="mx-3 font-medium text-lg">{{page_obj.number}} / {{page_obj.paginator.num_pages}}</span>

        {% if page_obj.has_next  %}
            <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
                <i class="fas fa-arrow-right fa-lg"></i>
            </a>
        {% endif %}
    </div>
</div>
<div class="text-center mb-5 text-gray-300">
    <a href="{% url 'notices:upload' %}">글쓰기</a>
</div>
{% endblock content%}